ul{
    font-size: 20px;
    font-weight: 700;
}
li{
    border-radius: 20px;
    padding: 0 15px;
    margin: 5px; 
}
li:hover{
    background-color: #ED456D;
}
body{
    background-image: url(resources/Custom\ Size\ –\ 1.png);
    background-repeat: repeat;
    background-position: fixed;
}
.main{
    padding: 90px 20px;
}
a{
    font-size: 2rem;
    
}